* text=auto
*.blade.php diff=php
*.css diff=css
*.html export-ignore
*.md export-ignore
*.php diff=php
/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
CHANGELOG-* export-ignore
CONTRIBUTING.md export-ignore
phpstan.src.neon.dist export-ignore
phpstan.types.neon.dist export-ignore
phpunit.xml.dist export-ignore
