* text=auto
*.html linguist-vendored
*.css linguist-vendored
tests/* linguist-vendored
.editorconfig linguist-vendored
.gitattributes linguist-vendored
.gitignore linguist-vendored
*.blade.php linguist-language=php
